.description {
  padding: 16px;
}
.container {
  margin-bottom: 20px;
}
.ratings-divider {
  margin-bottom: 20px !important;
}

.grid-helper {
  margin-bottom: 20px !important;
}

.rating-title-wrapper {
  text-align: left;
  /* display: flex; */
  align-items: baseline;
}

.rating-title {
  max-width: 90%;
}

.rating-viewmore {
  float: right;
  padding-right: 16px;
}